#AG230680{
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    height: 10vh;
    
    align-items: center;
    font-size: 24px;
}
#ca222101{
    background-color: rgb(219, 164, 164);
    color: black;
}
div{
    margin-top: 7%;
}

h1{
    background-color: rgb(73, 207, 104);
}

