*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}


#ar241049{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ff896f;
    margin: 300px auto;
    width: 800px;
    height: 300px;
    border-radius: 50px;
}

#ar241049 h3{
    color: #ffff;
}
